# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.tmp

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Data files
*.zip
*.tar
*.gz
*.nc
*.h5
*.shp
*.dbf
*.shx

# System files
.DS_Store
Thumbs.db